@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

/* Cores: */
--bege-claro-f8f0e5: #F8F0E5;
--bege-medio-eadbc8: #EADBC8;
--bege-escuro-dac0a3: #DAC0A3;
--azul-102c57: #102C57;
--bege-mais-claro-f2f2f2: #F2F2F2;
--cor-fonte: #333333;
--bold-font: 700;
--regular-font: 400;
--regular-font-size: 22px;

}

/* GERAIS: */
html, body {
    font-family: "League Spartan", sans-serif;
    color: var(--cor-fonte);
}
.azul-background {
    background-color: var(--azul-102c57);
}
.bege-claro-background {
    background-color: var(--bege-claro-f8f0e5);
}
.bege-medio-background {
    background-color: var(--bege-medio-eadbc8);
}

/*BARRA NAVEGAÇÃO: */
.menu-bar {
    height: 100px;
    z-index: 1030;
}
.menu-navegacao a {
    color: var(--bege-claro-f8f0e5);
    font-size: var(--regular-font-size);
    font-weight: bold;
}
.menu-navegacao a:hover {
    text-decoration: underline;
}
.toggler {
    background-color: transparent;
    display: block;
    /* background: none; */
    outline: none;
    box-shadow: none;
    border:none;
    color: var(--bege-claro-f8f0e5);
    font-size: 25px;
    font-weight: var(--bold-font);
    cursor: pointer;
    padding: 0.5rem;
}
.toggler .navbar-toggler-icon {
    display: none;
}

/*TEXTOS: */
h1 {
    font-size: 3rem;
    color: var(--azul-102c57);
}
h2 {
    font-weight: var(--regular-font);
    font-size: 3rem;
    color: var(--bege-escuro-dac0a3);
}
h3 {
    font-weight: var(--bold-font);
    font-size: var(--regular-font-size);
    color: var(--azul-102c57);
}
h4 {
    font-weight: var(--bold-font);
    font-size: 2.25rem;
    color: var(--azul-102c57);
}
h5 {
    font-weight: var(--regular-font);
    font-size: 2.25rem;
    color: var(--azul-102c57);
}
p {
    font-size: 22px;
    line-height: 22px;
}
.count-text {
    font-weight: var(--regular-font);
    font-size: 2.25rem;
    color: var(--bege-escuro-dac0a3);
}


.imagemCapa {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.imagemCapa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.informacoes {
    flex-direction: row;
}
.titulo-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.subInformacoes {
    display: grid;
}

/*ELENCO: */
#elenco {
    padding-top: 2rem;
    height: 394px;
}
.subtitulos {
    display: flex;
}
.btn-vermais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    margin-left: 20px;
    border-radius: 40px;
    color: var(--bege-claro-f8f0e5);
    background-color: var(--azul-102c57);
    font-size: 24px;
}
.carousel-container {
    height: 264px;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    -ms-overflow-style: none;
}
.carousel-track.active {
    cursor: grabbing;
}
.carousel-track::-webkit-scrollbar {
    display: none;
}
.carousel-card {
    text-align: center;
    flex-direction: column;
}
.carousel-card img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.carousel-container .carousel-card h4 {
    font-size: var(--regular-font-size);
    color: var(--cor-fonte);
}
.carousel-container .carousel-card p {
    font-weight: var(--regular-font);
    color: var(--cor-fonte);
}
.fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.fade-overlay.right { right: 0; }
.fade-overlay img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


#resenhas, #midia {
    padding-top: 73px;
}
#videos {
    padding-top: 33px;
}
#posteres, #imagensdefundo {
    padding-top: 43px;
}

/*RESENHAS: */
.review-card {
    height: 392px;
    border-radius: 10px;
    background-color: var(--bege-medio-eadbc8);
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.review-card .text-wrapper {
    flex-grow: 1;
    overflow: hidden;
}
.review-card .main-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.review-card .highlight-word {
    font-weight: var(--bold-font);
    color: var(--azul-102c57)
}
.review-card .footer-info {
    display: flex;
    justify-content: space-between;
    font-size: var(--regular-font-size);
}

/*MIDIA: */
.video-container {
    display: flex;
    gap: 20px;
}
.video-card {
    margin-top: 10px;
    margin-bottom: 43px;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: mandatory;
    height: fit-content;

    -webkit-overflow-scrolling: touch;

    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    object-fit: cover;
}
.poster-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.poster-box {
    margin-top: 10px;
    margin-bottom: 43px;

    background-size: cover;
    background-position: center
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.poster-box img {
    max-width: 270px;
    border-radius: 10px;
}
.wallpapers-container {
    display: flex;
    gap: 20px;
}
.wallpaper-box {
    margin-top: 10px;
    margin-bottom: 43px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.wallpaper-box img {
    width: 560px;
    border-radius: 10px;
}

/*RECOMENDAÇÕES: */
#recomendacoes {
    padding-top: 2rem;
    height: 506px;
}
.subtitulo-rec h4 {
    color: var(--bege-claro-f8f0e5);
}
.rec-container {
    display: flex;
    gap: 20px;
}
.rec-card {
    text-align: center;
}
.rec-card img {
    width: 212px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.rec-card h4 {
    color: var(--bege-claro-f8f0e5);
    font-size: 22px;
    padding-top: 10px;
}
.rec-card p {
    color: var(--bege-claro-f8f0e5);
}
/*RODAPÉ: */
#rodape {
    padding-top: 50px;
    padding-bottom: 20px;
}
#rodape.container-sm {
    width: 100%;
}
#rodape ul {
    padding-top: 20px;
}
#rodape ul li {
    margin-bottom: 1rem;
    max-width: 347px;
}
#rodape a {
    text-decoration: none;
    color: var(--azul-102c57);
    font-size: var(--regular-font-size);
}