@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

/* Cores: */
--bege-claro-f8f0e5: #F8F0E5;
--bege-medio-eadbc8: #EADBC8;
--bege-escuro-dac0a3: #DAC0A3;
--azul-102c57: #102C57;
--bege-mais-claro-f2f2f2: #F2F2F2;
--cor-fonte: #333333;
--bold-font: 700;
--regular-font: 400;
--regular-font-size: 22px;

}

.container-sm {
    max-width: 1240px;
    padding-left: 0;
    padding-right: 0;
}

/* GERAIS: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: "League Spartan", sans-serif;
    color: var(--cor-fonte);
}

/*BACKGROUND: */
.azul-background {
    background-color: var(--azul-102c57);
}

.bege-claro-background {
    background-color: var(--bege-claro-f8f0e5);
}

.bege-medio-background {
    background-color: var(--bege-medio-eadbc8);
}

/*BARRA NAVEGAÇÃO: */

.menu-bar {
    background-color: var(--azul-102c57);
    color: white;
    width: 100%;
    height: 100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.menu-navegacao ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu-navegacao li {
    display: inline-block;
}
.menu-navegacao a {
    text-decoration: none;
    color: var(--bege-claro-f8f0e5);
    display: block;
    padding: 15px 20px;
    font-size: var(--regular-font-size);
    font-weight: bold;
    text-align: center;
}
.menu-navegacao a:hover {
    text-decoration: underline;  /* Efeito sublinhado ao passar o mouse */
}

/*TEXTOS: */
h1 {
    font-weight: var(--bold-font);
    font-size: 3rem;
    color: var(--azul-102c57);
}
h2 {
    font-weight: var(--regular-font);
    font-size: 3rem;
    color: var(--bege-escuro-dac0a3);
}
h3 {
    font-weight: var(--bold-font);
    font-size: var(--regular-font-size);
    color: var(--azul-102c57);
}
h4 {
    font-weight: var(--bold-font);
    font-size: 2.25rem;
    color: var(--azul-102c57);
}
h5 {
    font-weight: var(--regular-font);
    font-size: 2.25rem;
    color: var(--azul-102c57);
}
p {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 22px;
}
.count-text {
    font-weight: var(--regular-font);
    font-size: 2.25rem;
    color: var(--bege-escuro-dac0a3);
}


/*FILME: */
.filme {
    display: flex;
    flex-direction: row;
    height: 696px;
    align-items: center;
    background-color: var(--bege-claro-f8f0e5);
}
.capa {
    padding-left: 0;
    height: 600px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
}
.imagemCapa {
    max-width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    object-fit: cover;
}
.informacoes {
    flex-direction: row;
    height: 600px;
    align-items: baseline;
    padding-left: 20px;
}
.titulo-container {
    display:flex;
    align-items: baseline;
    gap: 12px;
    height: 67px;
}
.subInformacoes {
    display: grid;
}

/*ELENCO: */
#elenco {
    padding-top: 2rem;
    height: 394px;
}
.subtitulos {
    display: flex;
}
.btn-vermais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    margin-left: 20px;
    border-radius: 40px;
    color: var(--bege-claro-f8f0e5);
    background-color: var(--azul-102c57);
    font-size: 24px;
}


.carousel-container {
    height: 264px;
    position: relative;
    overflow: hidden;
}
.carousel-card {
    flex: 0 0 190px;
    text-align: center;
}
.carousel-card img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}
.carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* Esconde a barra de rolagem */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carousel-track::-webkit-scrollbar {
    display: none;
}
.carousel-container .carousel-card h4 {
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font);
    color: var(--cor-fonte);
    
}
.carousel-container .carousel-card p {
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font);
    color: var(--cor-fonte);
}



#resenhas, #midia {
    padding-top: 73px;
}
#videos {
    padding-top: 33px;
}
#posteres, #imagensdefundo {
    padding-top: 43px;
}

/*RESENHAS: */
.reviews-container {
    display: flex;
    gap: 20px;
}
.review-card {
    width: 610px;
    height: 392px;
    border-radius: 10px;
    background-color: var(--bege-medio-eadbc8);
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-card .text-wrapper {
    flex-grow: 1; /* Faz este wrapper ocupar o espaço disponível */
    overflow: hidden; /* ESSENCIAL: Esconde qualquer coisa que o parágrafo interno vazar */
}
.review-card .main-text {
    text-align: justify;
    
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 10; /* DEFINE O NÚMERO DE LINHAS A SEREM EXIBIDAS */
    -webkit-box-orient: vertical;
}
.review-card .highlight-word {
    font-weight: var(--bold-font);
    color: var(--azul-102c57)
}
.review-card .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--regular-font-size);
}

/*MIDIA: */
.video-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.video-card {
    width: 400px;
    height: 225px;
    margin-top: 10px;
    margin-bottom: 43px;
    border-radius: 10px;
    
    position: relative;
    cursor: pointer;
    background-color: #000;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    object-fit: cover;
}
.poster-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.poster-box {
    width: 295px;
    height: 440px;
    margin-top: 10px;
    margin-bottom: 43px;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.wallpapers-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.wallpaper-box {
    width: 610px;
    height: 343px;
    margin-top: 10px;
    margin-bottom: 43px;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*RECOMENDAÇÕES: */
#recomendacoes {
    padding-top: 2rem;
    height: 506px;
}
.subtitulo-rec h4 {
    display: flex;
    color: var(--bege-claro-f8f0e5);
}
.rec-container {
    height: 376px;
    margin-left: 0;
    overflow: hidden;
    display: flex;
    gap: 20px;
}
.rec-card {
    flex: 0 0 190px;
    text-align: center;
}
.rec-card img {
    padding-left: 0;
    width: 190px;;
    height: 285px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.rec-card h4 {
    color: var(--bege-claro-f8f0e5);
    font-weight: var(--bold-font);
    font-size: 22px;
    padding-top: 10px;
}
.rec-card p {
    color: var(--bege-claro-f8f0e5);
    font-size: 22px;
}
/*RODAPÉ: */
#rodape {
    padding-top: 50px;
}
.footer-wrapper {
    width: 100%;
    height: 265px;
}
#rodape.container-sm {
    width: 100%;
}
#rodape ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-top: 20px;
}
#rodape li {
    margin-bottom: 1rem;
}
#rodape a {
    text-decoration: none;
    color: var(--azul-102c57);
    font-size: var(--regular-font-size);
}